body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    text-align: right;
    font-size: 5vh;

}
.AC{
    background-color: red;
    grid-area: AC;

}
.mult{
    background-color: green;
}
.main{
    width: 70vh;
    height: 60vh;
    border-radius: 3vh;
    background-color: rgb(204, 155, 19);
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{
    height: 20%;
    width: 60vh;
    flex: 1;
}
.board{
    width: 100%;

    flex: 10;
    border: solid black;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "AC AC mult mult"
    ;
}
