button{
    height: 9.5vh;
    width: 17.5vh;
    position: absolute;
    z-index: 6;
    opacity: 0;
}
.zero button{
    height: 9.5vh;
    width: 35vh;
    position: absolute;
    z-index: 6;
    opacity: 0;

    border-bottom-left-radius: 3vh;

}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}
p{
    text-align: right;
    font-size: 5vh;

}
img{
    width: 60%;
}
.main{
    width: 70vh;
    height: 60vh;
    border-radius: 3vh;
    background-color: #ffef96;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border: solid black 2vh;


}
.line{
    border-radius: 2vh;

    min-height: 13vh;
    width: 60vh;
    margin: 3vh;
    flex: 1;
    padding-right: 3vh;
    background-color: white;

}
.board{
    width: 100%;

    
    border-top: solid black;

    flex: 10;

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: 
    "AC Backspace divide mult"
    "seven eight nine sub"
    "four five six add"
    "one two three gleich"
    "zero zero comma empty2"
    ;

}
.board div{
    border: solid black 1px;
    font-size: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.board .no_color:hover{
    color: white;
}
.board .color:hover{
    border: solid red;
    
}
.color{
    color: orange;
}
.board .AC{
    border-top: none;
    color: red;
    /* color: rgb(201, 34, 5); */
}
.board .mult{

    border-top:none;
}
.board .zero{
    border-bottom: none;
    border-left:none;
}
.board .empty2{
    border-right: none;
    border-bottom: none;
}
.board .Backspace{
    border-top: none;
}
.board .divide{
    border-top: none;
}
.board .comma{
    border-bottom: none;
}
